<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </context-param>

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>testServlet</servlet-class>

        <init-param>
            <param-name>name</param-name>
            <param-value>wq</param-value>
        </init-param>

        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>servletContextDemo1</servlet-name>
        <servlet-class>ServletContextDemo1</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servletContextDemo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>servletContextDemo2</servlet-name>
        <servlet-class>ServletContextDemo2</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servletContextDemo2</servlet-name>
        <url-pattern>/demo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servletDemo3</servlet-name>
        <servlet-class>ServletDemo3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletDemo3</servlet-name>
        <url-pattern>/demo3</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>servletDemo4</servlet-name>
        <servlet-class>ServletDemo4</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servletDemo4</servlet-name>
        <url-pattern>/demo4</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>responseDemo1</servlet-name>
        <servlet-class>ResponseDemo1</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>responseDemo1</servlet-name>
        <url-pattern>/responseDemo1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>responseDemo2</servlet-name>
        <servlet-class>ResponseDemo2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>responseDemo2</servlet-name>
        <url-pattern>/responseDemo2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>responseDemo3</servlet-name>
        <servlet-class>ResponseDemo3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>responseDemo3</servlet-name>
        <url-pattern>/responseDemo3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>responseDemo4</servlet-name>
        <servlet-class>ResponseDemo4</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>responseDemo4</servlet-name>
        <url-pattern>/responseDemo4</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>drawImage</servlet-name>
        <servlet-class>DrawImage</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>drawImage</servlet-name>
        <url-pattern>/drawImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>helloServletWithParameter</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>xml's parameter</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServletWithParameter</servlet-name>
        <url-pattern>/hello.view1</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dengluServlet</servlet-name>
        <servlet-class>DengLuServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dengluServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>example.web.BeerSelect</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>breed</param-name>
        <param-value>Great Dane</param-value>
    </context-param>
    
    <listener>
        <listener-class>TestListener.MyServletContextListener</listener-class>
    </listener>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    
    <listener>
        <listener-class>testAttributeListener.AttributeListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>testFilterServlet</servlet-name>
        <servlet-class>TestFilter.TestFilterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testFilterServlet</servlet-name>
        <url-pattern>/testFilter.do</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>helloFilter</filter-name>
        <filter-class>TestFilter.HelloFilter</filter-class>
    </filter>

    <!--<filter-mapping>-->
        <!--<filter-name>helloFilter</filter-name>-->
        <!--<servlet-name>/testFilter.do</servlet-name>-->
    <!--</filter-mapping>-->
    <filter-mapping>
        <filter-name>helloFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
</web-app>